streamlit==1.45.1
torch==2.7.0
openai-whisper==20240930
pydub==0.25.1
langdetect==1.0.9
numpy==2.2.6
pandas==2.2.3
protobuf==6.31.1
typing-extensions==4.13.2
tqdm==4.67.1
requests==2.32.3
fsspec==2025.5.1
jinja2==3.1.6
six==1.17.0
click==8.2.1
packaging==24.2
python-dateutil==2.9.0.post0
watchdog==6.0.0
altair==5.5.0
pydeck==0.9.1
tornado==6.5.1
gitpython==3.1.44
blinker==1.9.0
cachetools==5.5.2
tenacity==9.1.2
pyarrow==20.0.0
toml==0.10.2
sympy==1.14.0
networkx==3.5
numba==0.61.2
more-itertools==10.7.0
tiktoken==0.9.0
jsonschema==4.24.0
narwhals==1.41.0
colorama==0.4.6
filelock==3.18.0
gitdb==4.0.12
imageio-ffmpeg
